.inner
  - form_for @user_session, :url => user_session_path do |f|
    - unless @user_session.errors.empty?
      .errors
        = @user_session.errors.full_messages
    - if flash[:notice]
      .notice
        = flash[:notice]
    = f.label :openid_identifier, image_tag("octo-rails/openid-logo.png")
    %br
    - if ENV['OCTO_OPEN_ID']
      %table
        %tr
          %td{:valign => 'bottom'}
            %span.default_openid_url
              https://openid.octo.com/users/
          %td{:valign => 'bottom'}
            %pan.trigram votre trigramme
            %br
            = f.text_field :openid_identifier, :maxlength => 3, :style => "width:50px"
    - else
      = f.text_field :openid_identifier
    %br
    = f.check_box :remember_me
    = f.label :remember_me, t(:remember_me), :class => "light"
    %br
    %br
    = f.submit t(:sign_in)
:javascript
  document.observe('dom:loaded', function(){
    $('user_session_openid_identifier').focus()
  })